.abou{
    width: 100%;
    height: 600px;
    background-image: url(studio\ pics.jpeg);
    filter: blur(10%);
    background-repeat: no-repeat; 
      background-size:cover; 
      background-position:center; 
      /* margin-left: 80px; */
      color: white;
}