#pa{
    /* background-image:url(istockphoto-12.jpg) ; */
    /* background-position: center; */
    background-repeat: no-repeat; 
    background-size:cover; 

}
.logo{

    border-radius: 70px;
    margin-left: 20px;
    margin-top: 30px;
}


input[type=text],select,input[type=email] ,textarea,input[type=password]{

    width:35%;
    padding: 12px;
    border: 2px solid orange;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: transparent;
    /* margin-left: 250px; */
    color: white;
    font-size: large;
}

label{

    padding: 12px 12px 12px 0;
    color: orange;
    display: inline-block;
    margin-left: 20px;
}

input[type=submit] {
background-color: orange;
color: white;
font-weight: bolder;
padding: 12px 12px;
border: none;
border-radius: 4px;
cursor: pointer;
float: left;
margin-right: 10px;

}



.back{

    color: aliceblue;
    text-decoration: none;
    
    margin-left: 40px;
   
   
  
}

.try{
    position: relative;
    bottom: 9px;
    /* left: px; */
    /* background-color: orange; */
    /* height: 50px; */
    width: 8%;
    height: auto;
    padding: 5px;
    border-radius: 20px;
}

.try :hover{
    color: #000;
}

.container{
    border-radius: 5px;
    background-color:transparent;
    padding: 20px;
}

.col-25{
    float: left;
    width: 13%;
    margin-top: 6px;
    padding: 1px;
}

.col-75{

    float: left;
    width: 87%;
    /* margin-top: 6%; */
}


.row{

    margin-left: 150px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}




@media screen and (max-width:100px){
    .co-25, .col-75,
    input[type=submit]{
        width: 40%;
        margin-top: 0;
    }
}
